*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    position:sticky;
    top: 0;
    left:0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    background: black;

}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #29f700 !important;

}
#navbarSupportedContent a{
    color: #fff;
    border-bottom: 2px solid transparent;

}
#navbarSupportedContent a:hover{
        border-bottom: 2px solid #29f700;


}#navbarSupportedContent button{
    background-color: #29f700;
    width: 100px;
    border-radius: 10px;
}
section{
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#Home{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4)),url(./images/spices.jpeg);
    background-size: cover;
    background-position: center;
    flex-direction: column;

}
#Home h1{
    font-size: 80px;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:0px 1px 0px #ccc,
                0px 2px 0px,
                0px 3px 0px,
                0px 4px 0px,
                0px 5px 0px,
                0px 6px 0px;

}
#Home p{
    font-size: 20px;
    color: #fff;
}
#Home .input-group{
    width: 40%;
    height: 45px;
}
.signin{
background: #29f700 !important;
color: #fff;
box-shadow: 2px 4px 5x rgba(0,0,0,.4);
}
#about {
    background: linear-gradient(to right, #ea1d6f,#eb466b);
}

#about h1{
    font-weight: 800;
    font-size: 30px;
    color: #fff;
}
#about p{
    color: #fff;
}
.img-fluid{
    margin-top: 150px;
    padding: 20px;
    margin-left: 30px;
}
#products{
    background:#e5e5e5;
}
#products h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 800;
}
#products img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px #fff;
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 70px;
    transition: 0.2s;

}
.card:hover{
     box-shadow:inset 5px 5px 10px rgba(0,0,0,.3),
                inset -4px -4px 10px #fff;
    
    transition: 0.2s;

}           

#contact img{
    height: 100%;
    width: 350px;
    margin-bottom: 5px;
}
.box{
    width: 80% !important;
    margin-top: 10px    ;
}
form{
    display: flex;
    flex-direction: column;

}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin-bottom: 10px;
    margin-top: 10px;
}
footer{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0.8);
    margin-top: -30px;
    text-align: center;
    color: #fff;
    padding: 3px;
}